/*header start===================================*/
header {
    position: sticky;
    top: 0;
    padding: 15px 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px 0px 12px 0px rgba(198, 180, 181, 0.62);
}

.headerContent {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uberLogo a {
    text-decoration: none;
}

.uberLogo .wordUber {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 4px;
    color: #000;
    text-transform: uppercase;
}

.uberLogo .wordEats {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    letter-spacing: 4px;
    color: #57AD56;
    margin-left: 5px;
    text-transform: uppercase;
}

.addressForm {
    position: relative;
}

.addressForm span {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 5px;
    color: #626262;
}


.addressForm input {
    padding: 8px;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #1D1D1D;
    border: 1px solid #E0E0E0;
}

.addressForm img {
    width: 16px;
    position: absolute;
    left: 107px;
    top: 11px
}

.desktopAndTabletForm input:first-child {
    box-sizing: border-box;
    width: 65px;
}

.desktopAndTabletForm input:last-child {
    box-sizing: border-box;
    width: 250px;
    padding-left: 35px;
}

.signIn_Register {
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: center;
}

.signIn_Register button {
    box-sizing: border-box;
    padding: 10px;
    width: 85px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    transition: background-color 0.5s;
}

.signIn_Register .register {
    background-color: #262626;
    color: #fff;
    transition: background-color 0.5s color 0.5s;
}

.signIn_Register button:hover {
    background-color: #f9f9f9;
    color: #262626;
}

.signIn_Register img {
    cursor: pointer;
}

/*header end===================================*/


/*main start===================================*/
/*search form*/
main {
    padding: 30px 0;
}

.mainContent {
    width: 70%;
    margin: 0 auto;
}

.mainContent .searchRestauran {
    padding: 10px 0 18px;
    border-bottom: 1px solid #757575;
}

.mainContent .searchRestauran img {
    position: absolute;
}

.mainContent .searchRestauran input {
    width: 95%;
    margin-left: 30px;
    border: none;
}

.mainContent .searchRestauran input:focus {
    outline: none;
}

/*search form end*/

.mobileForm {
    display: none;
}

.wrapperKyivRestaurants {
    margin-top: 60px;
}

.wrapperKyivRestaurants h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 20px;
}

.listAllRestaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listAllRestaurants a {
    text-decoration: none;
    width: 32%;
    margin-bottom: 20px;
    position: relative;
    bottom: 0;
    transition: bottom 0.7s, background-color 0.7s;
}

.listAllRestaurants a:hover {
    background-color: #f9f9f9;
    bottom: 8px;
}

.restaurant img {
    width: 100%;
}

.restaurant h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #626262;
    margin-bottom: 0;
}

.restaurant span {
    display: block;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
}

.restaurant .menu {
    font-size: 14px;
    color: #626262;
    margin: 5px 0;
}

.restaurant .time {
    font-size: 13px;
    color: #1D1D1D;
}

/*main end===================================*/

/*footer start===============================*/
footer {
    background-color: #262626;
    padding: 50px 0 40px;
}

.footerContent a {
    text-decoration: none;
}

.footerContent {
    width: 70%;
    margin: 0 auto;
}

.footerLogo {
    padding-bottom: 35px;
    border-bottom: 1px solid #fff;
}

.footerLogo .wordUber {
    font-size: 27px;
    color: #fff;
}

.footerLogo .wordEats {
    font-size: 27px;
}

.footerBasicContent {
    padding: 30px 0 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.footerBasicContent div {
    flex: 1 1;
}

.languageAndLinks form {
    position: relative;
}

.selectLanguage {
    width: 230px;
    height: 40px;
    padding-left: 45px;
    background-color: #3B3B3B;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    border: 0;
}

.selectLanguage:hover {
    cursor: pointer;
}

.world {
    position: absolute;
    top: 11px;
    left: 15px;
}

.arrow {
    position: absolute;
    top: 16px;
    left: 205px;
}

.UberEatsLink {
    margin: 35px 0 20px;
}

.UberEatsLink a {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.UberEatsLink span {
    color: #49A144;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin-bottom: 22px;
}

.list li a {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
}

.download {
    padding: 40px;
    border-bottom: 1px solid #fff;
}

.downloadApp {
    width: 295px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footerBottom {
    padding: 40px 0 0;
    display: flex;
}

.footerBottom span {
    flex: 1 1;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
}

.scrollToTop {
    position: fixed;
    right: 15px;
    bottom: 20px;
    padding: 25px 32px;
    background-color: #59BD5A;
    border-radius: 3px;
    transition: background-color 0.5s;
}

.scrollToTop:hover {
    background-color: #4ee84e;
}

/*footer end===============================*/